@import "tailwindcss";

@theme {
	--color-primary: #1f2937;
	--color-secondary: #ffffff;
	--color-accent: #fbbf24;
	--color-background: #f3f4f6;
	--color-text: #4b5563;
	--color-border: #e5e7eb;
	--font-inter: "Inter", sans-serif;
}

@layer base {
	html {
		font-family: var(--font-inter);
		color: var(--color-text);
		background-color: var(--color-background);
	}
}
